<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<title>Explore</title>
	
</head>
<body> 

 <div class="jumbotron" style="background-color: rgb(100,100,100); background-size: cover;">
    <div class="card">
        <img src="https://scontent.fdel19-1.fna.fbcdn.net/v/t1.0-9/37837052_2089461544657281_3793413839945465856_n.jpg?_nc_cat=100&_nc_ht=scontent.fdel19-1.fna&oh=b541d6f0e1af27dc63919eb533df0fc0&oe=5CB58164" class="card-img-top" style="height: 300px; border-radius: 20%; float: left;">
        <div class="card-body" style="color: white;" >
            <h2 class="card-title"><b> Get to know me :)</b></h2>
            <p class="card-text" style="font-style: italic;" >
                	Sorry for making that button...I'm a very bad writer. But if you have clicked down here then I won't disappoint you, this will be a very honest "get to know me" blog.<br>
        	        Heeellllooooo!!...My name is Ekta Mishra. <br>
        	        A funny, angry, chubby girl. <br>
        	        I'm halfway through my engineering degree. <br>
                    I'm studying Computer Science Engineering at GB Pant Govt. Engg College.<br>
                    I love to engage myself in Web Development. I also see myself developing apps in the future. Nothing interests me more than to whack my brains out in competitive programming. <br>
                    I enjoy coming up with solutions to tricky problems. That's my forte. <br>
                    When I'm not developing anything, one can usually find me engrossed in reading technical content over sites like Qoura, GeeksforGeeks etc or doing some sort of creative craft work. <br>
                    I also enjoy occasional cruising through memes on the internet. I also have an uncanny ability to strike up a magical conversation, filled with fun and quaint elements :). <br>
                    For knowing me more you can go back to the home page and connect with me on Social Networking sites. 

            </p>
        </div>
    </div>
 </div>
 
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>