<!DOCTYPE html>
<html>
<head>
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="style.css">
	<title>My Images</title>
</head>
<body>


<div class="container">  
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
   <div class="jumbotron">
    <div class="carousel-inner">
      <div class="item active">
        <img src="https://scontent.fdel19-1.fna.fbcdn.net/v/t1.0-9/28471800_1997813277155442_8670744431669555068_n.jpg?_nc_cat=101&_nc_ht=scontent.fdel19-1.fna&oh=3450586e6d558135e2bd1f4200338ae8&oe=5C943866" align="middle" style="width:80%;">
      </div>

      <div class="item">
        <img src="https://scontent.fdel19-1.fna.fbcdn.net/v/t1.0-9/28472338_1997809703822466_8510535638644153047_n.jpg?_nc_cat=101&_nc_ht=scontent.fdel19-1.fna&oh=c341e3399466fb5cc69d2ba8d52623d2&oe=5CCFFF94" align="middle" style="width:100%;">
      </div>

      <div class="item">
      <img src="https://scontent.fdel19-1.fna.fbcdn.net/v/t1.0-9/45782262_2163940330542735_7875810959514664960_n.jpg?_nc_cat=103&_nc_ht=scontent.fdel19-1.fna&oh=7ab0229e61043e1c6b2811e57f4b478c&oe=5CCE4FCC" align="middle" style="width:100%;">
      </div>

    <div class="item">
      <img src="https://scontent.fdel19-1.fna.fbcdn.net/v/t1.0-9/46401703_2169450273325074_2810651951694348288_n.jpg?_nc_cat=111&_nc_ht=scontent.fdel19-1.fna&oh=1ecf24eb97652414225b5585653cfd48&oe=5CC8E88E" align="middle" style="width:100%;">
    </div>

    <div class="item">
      <img src="https://scontent.fdel19-1.fna.fbcdn.net/v/t1.0-9/43278170_2145196255750476_5519383341612138496_n.jpg?_nc_cat=104&_nc_ht=scontent.fdel19-1.fna&oh=d625ba4d82a2075785bc0249e650125e&oe=5C920310" align="middle" style="width:80%;">
    </div>

    <div class="item">
      <img src="https://scontent.fdel19-1.fna.fbcdn.net/v/t1.0-9/37837052_2089461544657281_3793413839945465856_n.jpg?_nc_cat=100&_nc_ht=scontent.fdel19-1.fna&oh=1c81d06c8144561dd4750bb829c2d315&oe=5C8DF464" align="middle" style="width:100%;">
    </div>
    
    <div class="item">
      <img src="https://scontent.fdel19-1.fna.fbcdn.net/v/t1.0-9/31674621_2026922604244509_7146477447674855424_n.jpg?_nc_cat=110&_nc_ht=scontent.fdel19-1.fna&oh=e0f80d364ac585596e162e8ab0d54e4b&oe=5CCE5C94" align="middle" style="width:100%;">
    </div>

    <div class="item">
      <img src="https://scontent.fdel19-1.fna.fbcdn.net/v/t1.0-9/26993696_1980254155578021_2719930136102613684_n.jpg?_nc_cat=111&_nc_ht=scontent.fdel19-1.fna&oh=c9fb9e164f4f0eb44c1a0193815e5383&oe=5C8F095B" style="width:100%;">
    </div>

    <div class="item">
      <img src="https://scontent.fdel19-1.fna.fbcdn.net/v/t1.0-9/26992367_1980234705579966_5161347210672287772_n.jpg?_nc_cat=108&_nc_ht=scontent.fdel19-1.fna&oh=e5d98f597edb2b41dacc5471aa38ead9&oe=5C95A369" align="middle" style="width:100%;">
    </div>

    <div class="item">
      <img src="https://scontent.fdel19-1.fna.fbcdn.net/v/t1.0-9/26229400_1969886026614834_8561229012160679925_n.jpg?_nc_cat=100&_nc_ht=scontent.fdel19-1.fna&oh=d36d60c854a0412308630d510971572d&oe=5CC3D1DC" align="middle" style="width:100%;">
    </div>
   </div>
  </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
