<!DOCTYPE html>
<html>
<head>

	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
	<title>My Portfolio</title>
</head>
<body>
    <nav class="nav navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Know Me</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="{{url_for('images')}}">Images</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Skills <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">C</a></li>
            <li><a href="#">C++</a></li>
            <li><a href="#">Python</a></li>
            <li><a href="#">MySQL</a></li>
            <li><a href="#">Java</a></li>
            <li><a href="#">Html 5</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
            <li><a href="#">Bootstrap</a></li>
            <li><a href="#">jQuery</a></li>

            </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Signup  <i class="fa fa-user-plus"></i></a></li>
        <li><a href="#about">Login  <i class="fa fa-user"></i></a></li>
      </ul>
    </div>
  </div>
 </nav>
 
 <div class="container">
 	<div class="row">
 		<div class="col-lg-12">
 			<div class="content">
 				<h1>Ms. Ekta <i class="fa fa-grin-hearts"></i></h1>
 				<h3>"Developer from heart ... Programmer with Brain"</h3>
 				<hr>
 				<button class="btn btn-success btn-lg">Explore More</button>
 			</div>
 		</div>
 	</div>
 </div>

<div class="container">
      	<h3>  ACADEMIC PROFILE <i class="fa fa-graduation-cap"></i></h3>
      	<hr style="color: black;">
      	<div class="row">
      		<div class="col-sm-12 col-md-4">
      			<div class="thumbnail">
      				<img src="https://www.clipartmax.com/png/middle/175-1759093_results-2015-1st-3rd-5th-semester-rajasthan-diploma-mangalore-university-b-com.png" class="Academic">
      				<div class="caption">
      					<h3>Higher Secondary Results</h3>
      					<p class="tag">P.S.: Maths mein 99 the ;)</p>
      					<p><a href="{{url_for('page1')}}" class="btn btn-primary" role="button" >Details</a></p>
 </div>
 </div>

       </div>
       <div class="col-sm-12 col-md-4">
      			<div class="thumbnail">
      				<img src="https://www.clipartmax.com/png/middle/175-1759093_results-2015-1st-3rd-5th-semester-rajasthan-diploma-mangalore-university-b-com.png" class="Academic">
      				<div class="caption">
      					<h3>1st Sem Result</h3>
      					<p class="tag">Ab college mein kaun padhta hai yrr (-_-)</p>
      				<p><a href="{{url_for('page2')}}" class="btn btn-primary" role="button" >Details</a></p>
 </div>
 </div>

       </div>

       <div class="col-sm-12 col-md-4">
      			<div class="thumbnail">
      				<img src="https://www.clipartmax.com/png/middle/175-1759093_results-2015-1st-3rd-5th-semester-rajasthan-diploma-mangalore-university-b-com.png" class="Academic">
      				<div class="caption">
      					<h3>2nd Sem Results</h3>
      					<p class="tag">Class Rank 1 (*_*)</p>
      					<p><a href="{{url_for('page3')}}" class="btn btn-primary" role="button" >Details</a></p>
 </div>
 </div>

       </div>
   </div>
</div>


<div class="container">
  <div class="row">
<div class="col-lg-4 col-md-4 col-xs-12"  ></div>

<div class="col-lg-4 col-md-4 col-xs-12">
	<div class="jumbotron">
		<p style="text-align: center;"><strong>Suggestion Box</strong></p>
		<p style="font-size: 17px;text-align: center;">If you have any suggestions or words of appreciation...Here you go</p>
		<hr class="line">
<form class="container">

  <div class="form-group">
    <input type="email" class="form-control" placeholder="Email">
  </div>
  <div class="form-group">
    <input type="text" class="form-control"  placeholder="Full Name">
  </div>
  <div class="form-group">
    <input type="number" class="form-control"  placeholder="Mobile-Number">
  </div>
  <div class="form-group">
    <input type="text" class="form-control"  placeholder="Suggestions">
  </div>
  
</form>

<p style="text-align: center;"><a class="btn btn-primary" href="#" role="button"> Submit </a> </p>
<p style="font-size: 17px;text-align: center;margin-top:10px;">Thanks for your valueble time</p>

</div>
</div>

<div class="col-lg-4 col-md-4 col-xs-12"  ></div>
</div>
</div>


<footer id="myfooter" class="page-footer font-small cyan darken-3" style="background: black; height: 200px; width: 100%;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-12"  ></div>
        <div class="col-lg-4 col-md-4 col-xs-12" style="padding-top: 40px; padding-left: 50px;">
          <div class="mb-5 flex-center">
            <h3 style="font-style: italic; color: white; padding-left: 20px;"> Connect with me: </h3>
            <br>
            <a class="fb-ic" style="padding-left: 10px;" href="#">
              <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <a class="tw-ic" style="padding-left: 10px;" href="#">
              <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <a class="gplus-ic" style="padding-left: 10px;" href="#">
              <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <a class="li-ic" style="padding-left: 10px;" href="#">
              <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <a class="ins-ic" style="padding-left: 10px;" href="#">
              <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <a class="pin-ic" style="padding-left: 10px;" href="#">
              <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
            </a>
          </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12"  ></div>
      </div>
    </div>
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>